# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.venv
node_modules

# Virtual Env & Testing
test_env/
test_env
.venv/

# Vector Stores
faiss_store/
**/faiss_store/

# Logs
*.log

*.index
*.pkl